In [1]:
#Common DS Libraries:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

#Stats Libraries
import scipy.stats as stats

#Modeling Libraries
from sklearn.metrics import classification_report

#Helper Functions
from acquire import get_zillow_data
import wrangle_zillow

#Ignore Warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = get_zillow_data()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52442 entries, 0 to 52441
Data columns (total 64 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      52442 non-null  int64
 1   id                            52442 non-null  int64
 2   logerror                      52442 non-null  float64
 3   transactiondate               52442 non-null  object
 4   id.1                          52442 non-null  int64
 5   airconditioningtypeid         13638 non-null  float64
 6   architecturalstyletypeid      70 non-null     float64
 7   basementsqft                  47 non-null     float64
 8   bathroomcnt                   52442 non-null  float64
 9   bedroomcnt                    52442 non-null  float64
 10  buildingclasstypeid           0 non-null      float64
 11  buildingqualitytypeid         33741 non-null  float64
 12  calculatedbathnbr             52305 non-null  float64
 13  decktypeid                    389 non-null    float64
 14  finishedfloor1squarefeet      4381 non-null   float64
 15  calculatedfinishedsquarefeet  52360 non-null  float64
 16  finishedsquarefeet12          52195 non-null  float64
 17  finishedsquarefeet13          0 non-null      float64
 18  finishedsquarefeet15          0 non-null      float64
 19  finishedsquarefeet50          4381 non-null   float64
 20  finishedsquarefeet6           165 non-null    float64
 21  fips                          52442 non-null  float64
 22  fireplacecnt                  7243 non-null   float64
 23  fullbathcnt                   52305 non-null  float64
 24  garagecarcnt                  18015 non-null  float64
 25  garagetotalsqft               18015 non-null  float64
 26  hashottuborspa                1515 non-null   float64
 27  heatingorsystemtypeid         33936 non-null  float64
 28  latitude                      52442 non-null  float64
 29  longitude                     52442 non-null  float64
 30  lotsizesquarefeet             52073 non-null  float64
 31  poolcnt                       11096 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  444 non-null    float64
 34  pooltypeid2                   1071 non-null   float64
 35  pooltypeid7                   10009 non-null  float64
 36  propertycountylandusecode     52442 non-null  object
 37  propertylandusetypeid         52442 non-null  float64
 38  propertyzoningdesc            33849 non-null  object
 39  rawcensustractandblock        52442 non-null  float64
 40  regionidcity                  51405 non-null  float64
 41  regionidcounty                52442 non-null  float64
 42  regionidneighborhood          19033 non-null  float64
 43  regionidzip                   52416 non-null  float64
 44  roomcnt                       52442 non-null  float64
 45  storytypeid                   47 non-null     float64
 46  threequarterbathnbr           6724 non-null   float64
 47  typeconstructiontypeid        76 non-null     float64
 48  unitcnt                       33848 non-null  float64
 49  yardbuildingsqft17            1937 non-null   float64
 50  yardbuildingsqft26            63 non-null     float64
 51  yearbuilt                     52326 non-null  float64
 52  numberofstories               14561 non-null  float64
 53  fireplaceflag                 81 non-null     float64
 54  structuretaxvaluedollarcnt    52358 non-null  float64
 55  taxvaluedollarcnt             52441 non-null  float64
 56  assessmentyear                52442 non-null  float64
 57  landtaxvaluedollarcnt         52441 non-null  float64
 58  taxamount                     52438 non-null  float64
 59  taxdelinquencyflag            2079 non-null   object
 60  taxdelinquencyyear            2079 non-null   float64
 61  censustractandblock           52319 non-null  float64
 62  logerror.1                    52442 non-null  float64
 63  transactiondate.1             52442 non-null  object
dtypes: float64(56), int64(3), object(5)
memory usage: 26.0+ MB

In [ ]:
df.taxdelinquencyflag.isnull().sum()

In [ ]:
dict_list = []
for col in df.columns:
    col_nulls = df[col].isnull().sum()
    col_null_percent = col_nulls/len(df.index)
    dict_list.append({'':col,'num_rows_missing':col_nulls,'pct_rows_missing':col_null_percent})
pd.DataFrame(dict_list).set_index('').sort_values(by='num_rows_missing', ascending=False).head(34)

In [ ]:
prop_required_column = .75
prop_required_row = .75

In [ ]:
threshold = int(round(prop_required_column*len(df.index),0))
df.dropna(axis=1, thresh=threshold, inplace=True)
threshold = int(round(prop_required_row*len(df.columns),0))
df.dropna(axis=0, thresh=threshold, inplace=True)
df.info()

In [ ]:
df = df.dropna()
df.info()

In [ ]:
df.info()

In [3]:
import wrangle_zillow

In [4]:
wrangle_zillow.data_prep(df,cols_to_remove=['logerror.1','transactiondate.1'], prop_required_column=.75, prop_required_row=.75)

Features removed: 0        airconditioningtypeid
1     architecturalstyletypeid
2                 basementsqft
3          buildingclasstypeid
4        buildingqualitytypeid
5                   decktypeid
6     finishedfloor1squarefeet
7         finishedsquarefeet13
8         finishedsquarefeet15
9         finishedsquarefeet50
10         finishedsquarefeet6
11                fireplacecnt
12                garagecarcnt
13             garagetotalsqft
14              hashottuborspa
15       heatingorsystemtypeid
16                     poolcnt
17                 poolsizesum
18                pooltypeid10
19                 pooltypeid2
20                 pooltypeid7
21          propertyzoningdesc
22        regionidneighborhood
23                 storytypeid
24         threequarterbathnbr
25      typeconstructiontypeid
26                     unitcnt
27          yardbuildingsqft17
28          yardbuildingsqft26
29             numberofstories
30               fireplaceflag
31          taxdelinquencyflag
32          taxdelinquencyyear
33                  logerror.1
34           transactiondate.1
dtype: object

,parcelid,id,logerror,transactiondate,id.1,bathroomcnt,bedroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,...,regionidcounty,regionidzip,roomcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock
0,14297519,0,0.025595,2017-01-01,1727539,3.5,4.0,3.5,3100.0,3100.0,...,1286.0,96978.0,0.0,1998.0,485713.0,1023282.0,2016.0,537569.0,11013.72,6.059063e+13
1,17052889,1,0.055619,2017-01-01,1387261,1.0,2.0,1.0,1465.0,1465.0,...,2061.0,97099.0,5.0,1967.0,88000.0,464000.0,2016.0,376000.0,5672.48,6.111001e+13
2,14186244,2,0.005383,2017-01-01,11677,2.0,3.0,2.0,1243.0,1243.0,...,1286.0,97078.0,6.0,1962.0,85289.0,564778.0,2016.0,479489.0,6488.30,6.059022e+13
3,12177905,3,-0.103410,2017-01-01,2288172,3.0,4.0,3.0,2376.0,2376.0,...,3101.0,96330.0,0.0,1970.0,108918.0,145143.0,2016.0,36225.0,1777.51,6.037300e+13
4,12095076,6,-0.001011,2017-01-01,781532,3.0,4.0,3.0,2962.0,2962.0,...,3101.0,96293.0,0.0,1950.0,276684.0,773303.0,2016.0,496619.0,9516.26,6.037461e+13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52437,11000655,77609,0.020615,2017-09-20,673515,2.0,2.0,2.0,1286.0,1286.0,...,3101.0,96284.0,0.0,1940.0,70917.0,354621.0,2016.0,283704.0,4478.43,6.037101e+13
52438,17239384,77610,0.013209,2017-09-21,2968375,2.0,4.0,2.0,1612.0,1612.0,...,2061.0,97116.0,7.0,1964.0,50683.0,67205.0,2016.0,16522.0,1107.48,6.111008e+13
52439,12773139,77611,0.037129,2017-09-21,1843709,1.0,3.0,1.0,1032.0,1032.0,...,3101.0,96480.0,0.0,1954.0,32797.0,49546.0,2016.0,16749.0,876.43,6.037434e+13
52440,12826780,77612,0.007204,2017-09-25,1187175,2.0,3.0,2.0,1762.0,1762.0,...,3101.0,96171.0,0.0,1955.0,140000.0,522000.0,2016.0,382000.0,6317.15,6.037503e+13
52441,13083743,77613,-0.197755,2018-05-25,2455685,2.0,3.0,2.0,1050.0,1050.0,...,3101.0,96488.0,0.0,1960.0,77118.0,259334.0,2016.0,182216.0,3345.78,6.037408e+13